@font-face {
    font-family: 'Nunito Sans'; 
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');
        
}
@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
    font-family: 'Yeseva One'; 
    font-weight: 400;
}

body {
    margin:0;

}

body * {
    box-sizing: border-box;
}

.container {
  /* max-width: 1250px; */
    margin: 0 auto;
}

.button {
    font-family: 'Nunito Sans';
    font-style: italic;
    background: #E3B873;
    box-shadow: 2px;
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    height: 51px;
}
.button.buttonNav{
    
}

.button.ghost{
    background: transparent;
    border: 1px solid white;
}

.logo {
    color: #E3B873;
}

.header {
    background-color: black;
    
}

.head-content{
    display: flex;
    height: 83px;
    align-items: center;
    justify-content: space-around;
}

.header-navigation {
    list-style: none;
    display: flex;
    font-family: 'Nunito Sans';
    text-transform: uppercase;
}

.header-navigation__item {
    margin-right: 70px;
}

.header-navigation__item a{
    text-decoration: none;
    color: white;
}

.hero {
    background-image: url('/images/interior_1.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
    max-width: 37%;
    margin-left: 10%;
}


.title{
    margin-bottom: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF 
}
.basic{
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    margin-bottom: 20px;
}